Workflows/Auto_post_schedule_workflow.json
{
  "name": "Auto post schedule workflow",
  "nodes": [
    {
      "parameters": {
        "rule": {
          "interval": [
            {
              "field": "cronExpression",
              "expression": "*/10 * * * *"
            }
          ]
        }
      },
      "type": "n8n-nodes-base.scheduleTrigger",
      "typeVersion": 1.2,
      "position": [
        -120,
        -20
      ],
      "id": "1d0a4ead-6797-41c3-bdb4-8b064c2eb893",
      "name": "Schedule Trigger"
    },
    {
      "parameters": {
        "url": " https://a587cb4df717.ngrok-free.app/api/posts?status=scheduled&due=true",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Authorization",
              "value": "Bearer eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJ1c2VySWQiOiI2ODg3MWRjNzI0NmFiMGM5YmI3N2M3ZWUiLCJyb2xlIjoiYWRtaW4iLCJpYXQiOjE3NTM3ODE4NDgsImV4cCI6MTc1NDM4NjY0OH0.hBlx7AU_2JUyA2zGYHXP_pACSbpv2I_6G589GEyHfV8"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        220,
        -20
      ],
      "id": "f41cf0ac-0f4b-4e2b-a2fa-fe568a6676dd",
      "name": "HTTP Request"
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 2
          },
          "conditions": [
            {
              "id": "5015493b-8a4c-4b6d-96df-3126b59284ed",
              "leftValue": "={{ $json._id }}",
              "rightValue": 0,
              "operator": {
                "type": "string",
                "operation": "notEmpty",
                "singleValue": true
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.2,
      "position": [
        440,
        -20
      ],
      "id": "834c3921-3757-4fd9-a663-c7430f05b9a7",
      "name": "If"
    },
    {
      "parameters": {},
      "type": "n8n-nodes-base.noOp",
      "typeVersion": 1,
      "position": [
        820,
        220
      ],
      "id": "4bff0114-005f-4dca-b2e4-79c21ef73238",
      "name": "No Operation, do nothing"
    },
    {
      "parameters": {
        "options": {}
      },
      "type": "n8n-nodes-base.splitInBatches",
      "typeVersion": 3,
      "position": [
        920,
        -240
      ],
      "id": "02338b6b-c881-4b0f-836b-007813a7aba6",
      "name": "Loop Over Items"
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://api.telegram.org/bot8064487071:AAFqhjYEIC-fcOnpxXrZGcduDb344BwWmCY/sendMessage",
        "sendBody": true,
        "bodyParameters": {
          "parameters": [
            {
              "name": "chat_id",
              "value": "2023536953"
            },
            {
              "name": "text",
              "value": "={{$json[\"title\"]}}\\n\\n{{$json[\"body\"]}}"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        1140,
        -180
      ],
      "id": "b8d4d46d-20ef-47d4-8885-885d7e86dcab",
      "name": "HTTP Request1"
    },
    {
      "parameters": {
        "method": "PUT",
        "url": "=https://a587cb4df717.ngrok-free.app/api/posts/{{ $('HTTP Request').item.json._id }}",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Authorization",
              "value": "Bearer eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJ1c2VySWQiOiI2ODg3MWRjNzI0NmFiMGM5YmI3N2M3ZWUiLCJyb2xlIjoiYWRtaW4iLCJpYXQiOjE3NTM3ODE4NDgsImV4cCI6MTc1NDM4NjY0OH0.hBlx7AU_2JUyA2zGYHXP_pACSbpv2I_6G589GEyHfV8"
            }
          ]
        },
        "sendBody": true,
        "bodyParameters": {
          "parameters": [
            {
              "name": "status",
              "value": "published"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        1420,
        -180
      ],
      "id": "8b706dbe-ccc2-49eb-afb7-0e716ea78000",
      "name": "HTTP Request2"
    }
  ],
  "pinData": {},
  "connections": {
    "Schedule Trigger": {
      "main": [
        [
          {
            "node": "HTTP Request",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "HTTP Request": {
      "main": [
        [
          {
            "node": "If",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "If": {
      "main": [
        [
          {
            "node": "Loop Over Items",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "No Operation, do nothing",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Loop Over Items": {
      "main": [
        [],
        [
          {
            "node": "HTTP Request1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "HTTP Request1": {
      "main": [
        [
          {
            "node": "HTTP Request2",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "HTTP Request2": {
      "main": [
        [
          {
            "node": "Loop Over Items",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": false,
  "settings": {
    "executionOrder": "v1"
  },
  "versionId": "b4cfa92f-e7cf-4927-918f-7dd6a0d23c8e",
  "meta": {
    "instanceId": "83b761825fe009c350ac0b22db13da3271ed1c3fb3c350cd3dffb40fbed22eb0"
  },
  "id": "x3JdBPg4naZ7wlEy",
  "tags": []
}